PORT=8080
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-address>/
MONGO_DATABASE=portfolio_db
REDIS_HOST=<redis-host-endpoint>
REDIS_PORT=6379
ADMIN_USERNAME=admin
ADMIN_PASSWORD=<admin-password>
JWT_SECRET=<your-jwt-secret-key-at-least-256-bits>
JWT_EXPIRATION=86400000